---
layout: page
title: Tags
permalink: /tags/
nav-order: 20
---
<ul class="tag-cloud">
	{% assign tags = site.tags | sort %}
	{% for tag in tags %}
		<li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
			<a href="#{{ tag | first | slugize }}">
				{{ tag | first }}
			</a>
		</li>
	{% endfor %}
</ul>

<div id="archives">
	{% for tag in tags %}
		<div class="archive-group">
			{% capture tag_name %}{{ tag | first }}{% endcapture %}
			<a name="{{ tag_name | slugize }}"></a>
			<h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
			{% for post in site.tags[tag_name] %}
				<article class="archive-item">
					<a href="{{ root_url }}{{ post.url }}">{{post.title}}</a>
				</article>
			{% endfor %}
		</div>
	{% endfor %}
</div>

<!--
<div id="case_insensitive">
{% capture tags %}{% for tag in site.tags %}{{tag[0]}}{{','}}{% endfor %}{% endcapture %}
{% assign sortedtags = tags | downcase | split:"," | sort %}
{% for tag in sortedtags %}
	{% for t in site.tags %}
	{% capture tdown %}{{ t | downcase }}{% endcapture %}
	{% if tdown == tag %}
	<a name="{{ t }}">{{ t }}</a>
	{% endif %}
	{% endfor %}
	<b><a name="{{ tag | downcase }}"> </a>{{ tag }}</b>
<ul>
	{% for post in site.posts %}
	{% for t in post.tags %}
	{% capture tdown %}{{ t | downcase }}{% endcapture %}
	{% if tdown == tag %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
	{% endfor %}
	{% endfor %}
</ul>
{% endfor %}
</div>
-->
